*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: aqua;
    height: 150px;
    
}
h1{
    color: black;
    font-size: 2.5em;
    text-align: center;
}

nav{
background-color: black;
height: 100px;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.75em;
}